.page[b-og9wxm3xhj] {
    display: flex;
}

main[b-og9wxm3xhj] {
    flex: 1;
    padding: 1rem;
}

.sidebar[b-og9wxm3xhj] {
    background-image: linear-gradient(360deg, rgb(5, 39, 103) 0%, #3a0647 50%);
    width: 250px;
    height: 100vh;
    overflow: auto;
}

.auth[b-og9wxm3xhj] {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.top-row[b-og9wxm3xhj] {
    background-color: #f7f7f7;
    border-bottom: 2px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-og9wxm3xhj]  a, .top-row .btn-link[b-og9wxm3xhj] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-og9wxm3xhj] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-og9wxm3xhj] {
        display: none;
    }

    .top-row.auth[b-og9wxm3xhj] {
        justify-content: space-between;
    }

    .top-row a[b-og9wxm3xhj], .top-row .btn-link[b-og9wxm3xhj] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-og9wxm3xhj] {
        flex-direction: row;
    }

    .sidebar[b-og9wxm3xhj] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-og9wxm3xhj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-og9wxm3xhj], article[b-og9wxm3xhj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
